Repository DHBW-VS-WI17B/assignment-abe1-b4, pull requests merged in 2020-08, with the labels that each got.

#6 chore(documentation): add draw.io support
  src/documentation/.devcontainer/devcontainer.json
  src/documentation/.gitignore
  src/documentation/.vscode/settings.json
  src/documentation/root.tex
Labels: documentation, enhancement

#7 feat(index): update structure
  src/documentation/text/index.tex
Labels: documentation, enhancement

#8 feat(server): add entities
  src/server/TicketStore.Server.Entities/Class1.cs
  src/server/TicketStore.Server.Entities/Customer.cs
  src/server/TicketStore.Server.Entities/Event.cs
  src/server/TicketStore.Server.Entities/PostalAddress.cs
  src/server/TicketStore.Server.Entities/Ticket.cs
Labels: enhancement, server

#9 feat(server): add basic asp.net server
  .github/workflows/ci-server.yml
  src/server/TicketStore.Server.App/Controllers/CustomerController.cs
  src/server/TicketStore.Server.App/Controllers/EventsController.cs
  src/server/TicketStore.Server.App/Program.cs
  src/server/TicketStore.Server.App/Properties/launchSettings.json
  src/server/TicketStore.Server.App/Startup.cs
  src/server/TicketStore.Server.App/TicketStore.Server.App.csproj
  src/server/TicketStore.Server.App/appsettings.Development.json
  src/server/TicketStore.Server.App/appsettings.json
  src/server/TicketStore.Server.sln
Labels: enhancement, server

#18 feat(server): setup Swashbuckle.AspNetCore
  src/server/TicketStore.Server.App/Controllers/CustomerController.cs
  src/server/TicketStore.Server.App/Controllers/EventsController.cs
  src/server/TicketStore.Server.App/Startup.cs
  src/server/TicketStore.Server.App/TicketStore.Server.App.csproj
Labels: enhancement, server

#19 ci: run only on master branch for push events
  .github/workflows/ci-client.yml
  .github/workflows/ci-documentation.yml
  .github/workflows/ci-server.yml
Labels: chore, enhancement

#20 feat(server): add serilog
  src/server/TicketStore.Server.App/Program.cs
  src/server/TicketStore.Server.App/Startup.cs
  src/server/TicketStore.Server.App/TicketStore.Server.App.csproj
  src/server/TicketStore.Server.App/appsettings.json
Labels: enhancement, server

#22 feat(server): add auth controller
  src/server/TicketStore.Server.App/Controllers/AuthController.cs
  src/server/TicketStore.Server.App/Models/AuthenticateRequest.cs
  src/server/TicketStore.Server.App/Models/RegisterRequest.cs
Labels: enhancement, server

#24 docs: add additional notes
  README.md
  docs/assignment_additional_notes.pdf
Labels: chore

#23 feat(server): improve API implementation
  src/server/TicketStore.Server.App/Auth/JwtAuthManager.cs
  src/server/TicketStore.Server.App/Controllers/AuthController.cs
  src/server/TicketStore.Server.App/Controllers/EventsController.cs
  src/server/TicketStore.Server.App/Controllers/UserController.cs
  src/server/TicketStore.Server.App/Interfaces/IJwtAuthManager.cs
  src/server/TicketStore.Server.App/Models/Configs/JwtConfig.cs
  src/server/TicketStore.Server.App/Models/Requests/AuthenticateRequest.cs
  src/server/TicketStore.Server.App/Models/Requests/RegisterRequest.cs
  src/server/TicketStore.Server.App/Models/Responses/AuthenticateResponse.cs
  src/server/TicketStore.Server.App/Startup.cs
  src/server/TicketStore.Server.App/TicketStore.Server.App.csproj
  src/server/TicketStore.Server.App/appsettings.json
  src/server/TicketStore.Server.Contracts/IRepositoryWrapper.cs
  src/server/TicketStore.Server.Contracts/IUserRepository.cs
  src/server/TicketStore.Server.DataAccess/RepositoryWrapper.cs
  src/server/TicketStore.Server.DataAccess/UserRepository.cs
  src/server/TicketStore.Server.Entities/Models/Customer.cs
  src/server/TicketStore.Server.Entities/Models/Event.cs
  src/server/TicketStore.Server.Entities/Models/PostalAddress.cs
  src/server/TicketStore.Server.Entities/Models/Ticket.cs
  src/server/TicketStore.Server.Entities/Models/User.cs
  src/server/TicketStore.Server.Entities/Models/UserRole.cs
  src/server/TicketStore.Server.Entities/RepositoryContext.cs
Labels: enhancement, server

#27 feat: setup .NET client
  .github/workflows/ci-app.yml
  .github/workflows/ci-client.yml
  .github/workflows/release.yml
  src/app/.devcontainer/Dockerfile
  src/app/.devcontainer/devcontainer.json
  src/app/.gitignore
  src/app/TicketStore.Client.App/Program.cs
  src/app/TicketStore.Client.App/TicketStore.Client.App.csproj
  src/app/TicketStore.Server.App/Auth/JwtAuthManager.cs
  src/app/TicketStore.Server.App/Controllers/AuthController.cs
  src/app/TicketStore.Server.App/Controllers/EventsController.cs
  src/app/TicketStore.Server.App/Controllers/UserController.cs
  src/app/TicketStore.Server.App/Interfaces/IJwtAuthManager.cs
  src/app/TicketStore.Server.App/Models/Configs/JwtConfig.cs
  src/app/TicketStore.Server.App/Models/Requests/AuthenticateRequest.cs
  src/app/TicketStore.Server.App/Models/Requests/RegisterRequest.cs
  src/app/TicketStore.Server.App/Models/Responses/AuthenticateResponse.cs
  src/app/TicketStore.Server.App/Program.cs
  src/app/TicketStore.Server.App/Properties/launchSettings.json
  src/app/TicketStore.Server.App/Startup.cs
  src/app/TicketStore.Server.App/TicketStore.Server.App.csproj
  src/app/TicketStore.Server.App/appsettings.Development.json
  src/app/TicketStore.Server.App/appsettings.json
  src/app/TicketStore.Server.Contracts/IEventRepository.cs
  src/app/TicketStore.Server.Contracts/IPostalAddressRepository.cs
  src/app/TicketStore.Server.Contracts/IRepositoryBase.cs
  src/app/TicketStore.Server.Contracts/IRepositoryWrapper.cs
  src/app/TicketStore.Server.Contracts/ITicketRepository.cs
  src/app/TicketStore.Server.Contracts/IUserRepository.cs
  src/app/TicketStore.Server.Contracts/TicketStore.Server.Contracts.csproj
  src/app/TicketStore.Server.DataAccess/EventRepository.cs
  src/app/TicketStore.Server.DataAccess/PostalAddressRepository.cs
  src/app/TicketStore.Server.DataAccess/RepositoryBase.cs
  src/app/TicketStore.Server.DataAccess/RepositoryWrapper.cs
  src/app/TicketStore.Server.DataAccess/TicketRepository.cs
  src/app/TicketStore.Server.DataAccess/TicketStore.Server.DataAccess.csproj
  src/app/TicketStore.Server.DataAccess/UserRepository.cs
  src/app/TicketStore.Server.Entities/Models/Event.cs
  src/app/TicketStore.Server.Entities/Models/PostalAddress.cs
  src/app/TicketStore.Server.Entities/Models/Ticket.cs
  src/app/TicketStore.Server.Entities/Models/User.cs
  src/app/TicketStore.Server.Entities/Models/UserRole.cs
  src/app/TicketStore.Server.Entities/RepositoryContext.cs
  src/app/TicketStore.Server.Entities/TicketStore.Server.Entities.csproj
  src/app/TicketStore.sln
  src/client/.devcontainer/Dockerfile
  src/client/.devcontainer/devcontainer.json
  src/client/.gitignore
  src/client/go.mod
  src/client/main.go
Labels: client, enhancement

#28 ci: add deploy to azure job
  .github/workflows/ci-client.yml
  .github/workflows/ci-documentation.yml
  .github/workflows/ci-server.yml
  .github/workflows/release.yml
Labels: chore, enhancement

#30 ci: fix release and ci triggers
  .github/workflows/ci-client.yml
  .github/workflows/ci-documentation.yml
  .github/workflows/ci-server.yml
  .github/workflows/release.yml
Labels: bug, chore

#31 ci: fix release
  .github/workflows/ci-client.yml
  .github/workflows/ci-server.yml
  .github/workflows/release.yml
Labels: bug, chore

#48 fix(app): add missing feature to actually buy multiple tickets at once
  src/app/TicketStore.Client.App/Command.cs
  src/app/TicketStore.Client.App/Program.cs
  src/app/TicketStore.Client.Logic/ClientActor.cs
  src/app/TicketStore.Client.Logic/Messages/PurchaseTicketsMessage.cs
  src/app/TicketStore.Server.Logic/Actors/EventActor.cs
  src/app/TicketStore.Server.Logic/Actors/WriteToDbActor.cs
  src/app/TicketStore.Server.Logic/Messages/Requests/AddTicketsToDbRequest.cs
  src/app/TicketStore.Server.Logic/Messages/Responses/AddTicketsToDbResponse.cs
  src/app/TicketStore.Shared/Messages/PurchaseTicketsSuccess.cs
Labels: bug, client, server

#50 fix(app): adjust budget system to new requirements
  src/app/TicketStore.Client.App/Command.cs
  src/app/TicketStore.Client.App/Program.cs
  src/app/TicketStore.Client.App/TicketStore.Client.App.csproj
  src/app/TicketStore.Client.Logic/ClientActor.cs
  src/app/TicketStore.Client.Logic/Config.cs
  src/app/TicketStore.Client.Logic/Messages/GetRemainingBudgetForCurrentYearMessage.cs
  src/app/TicketStore.Client.Logic/Messages/InitStateMessage.cs
  src/app/TicketStore.Client.Logic/Util/Ask.cs
  src/app/TicketStore.Server.Logic/Actors/EventActor.cs
  src/app/TicketStore.Server.Logic/Actors/UserActor.cs
  src/app/TicketStore.Server.Logic/Actors/WriteToDbActor.cs
  src/app/TicketStore.Server.Logic/DataAccess/Entities/User.cs
  src/app/TicketStore.Server.Logic/Messages/Requests/AddTicketsToDbRequest.cs
  src/app/TicketStore.Server.Logic/Messages/Responses/AddTicketsToDbResponse.cs
  src/app/TicketStore.Server.Logic/Util/Mapper.cs
  src/app/TicketStore.Shared/Messages/GetRemainingBudgetForCurrentYearRequest.cs
  src/app/TicketStore.Shared/Messages/GetRemainingBudgetForCurrentYearSuccess.cs
  src/app/TicketStore.Shared/Messages/PurchaseTicketsRequest.cs
  src/app/TicketStore.Shared/Messages/PurchaseTicketsSuccess.cs
  src/app/TicketStore.Shared/Models/UserDto.cs
Labels: bug, client, server

#51 fix(app): ensure that error messages arrive
  src/app/TicketStore.Client.Logic/ClientActor.cs
  src/app/TicketStore.Server.Logic/Actors/WriteToDbActor.cs
  src/app/TicketStore.Shared/Messages/ErrorMessage.cs
  src/app/TicketStore.Shared/Messages/MessageBase.cs
Labels: bug, client, server

#52 test(app): remove unfinished actor unit tests
  src/app/TicketStore.Server.Logic.Test/Actors/WriteToDbActorTest.cs
  src/app/TicketStore.Server.Logic.Test/TicketStore.Server.Logic.Test.csproj
  src/app/TicketStore.sln
Labels: chore, enhancement

#56 feat(app): improve success messages
  src/app/TicketStore.Client.Logic/ClientActor.cs
Labels: client, enhancement

#57 fix(documentation): add missing \newpage
  src/documentation/root.tex
Labels: bug, documentation

#53 feat(documentation): implement implementation section
  src/documentation/acronyms.tex
  src/documentation/appendices/actors_and_messages.tex
  src/documentation/appendices/index.tex
  src/documentation/literature.bib
  src/documentation/root.tex
  src/documentation/text/04_Implementation/actors.tex
  src/documentation/text/04_Implementation/architecture.tex
  src/documentation/text/04_Implementation/data_model.tex
  src/documentation/text/04_Implementation/index.tex
  src/documentation/text/04_Implementation/interactions.tex
  src/documentation/text/04_Implementation/intro.tex
  src/documentation/text/04_Implementation/messages.tex
Labels: documentation, enhancement

#60 fix(documentation): resolve formatting issues
  src/documentation/independence-notice.tex
  src/documentation/root.tex
Labels: bug, documentation

#62 fix(documentation): correct spelling of `sequentiell`
  src/documentation/text/04_Implementation/architecture.tex
Labels: bug, documentation

#58 feat(documentation): add missing sections
  src/documentation/literature.bib
  src/documentation/text/01_Preface/index.tex
  src/documentation/text/02_Theory/index.tex
  src/documentation/text/03_Requirements/index.tex
  src/documentation/text/04_Implementation/intro.tex
Labels: documentation, enhancement

#61 feat(documentation): implement conclusion section
  src/documentation/text/02_Theory/index.tex
  src/documentation/text/05_Conclusion/index.tex
  src/documentation/text/index.tex
Labels: documentation, enhancement

#63 feat(app): add ability to filter by purchase date or event date
  src/app/TicketStore.Client.App/Program.cs
  src/app/TicketStore.Client.Logic/ClientActor.cs
  src/app/TicketStore.Client.Logic/Messages/GetPurchasedTicketsMessage.cs
  src/app/TicketStore.Client.Logic/Util/Ask.cs
  src/app/TicketStore.Server.Logic/Actors/UserActor.cs
  src/app/TicketStore.Shared/Enums/OrderDirection.cs
  src/app/TicketStore.Shared/Enums/QueryCriterion.cs
  src/app/TicketStore.Shared/Messages/GetPurchasedTicketsRequest.cs
  src/app/TicketStore.Shared/Models/TicketFilter.cs
  src/app/TicketStore.Shared/Models/TicketSorting.cs
Labels: client, enhancement, server

#64 feat(documentation): apply final touches
  src/documentation/acronyms.tex
  src/documentation/root.tex
  src/documentation/text/01_Preface/index.tex
  src/documentation/text/02_Theory/index.tex
  src/documentation/text/03_Requirements/index.tex
  src/documentation/text/04_Implementation/intro.tex
  src/documentation/text/05_Conclusion/index.tex
Labels: documentation, enhancement

#66 chore(app): improve readme
  src/app/README.md
Labels: chore, enhancement

#68 refactor(app): move message handlers into private functions
  src/app/TicketStore.Client.Logic/ClientActor.cs
  src/app/TicketStore.Server.Logic/Actors/EventActor.cs
  src/app/TicketStore.Server.Logic/Actors/UserActor.cs
  src/app/TicketStore.Server.Logic/Actors/WriteToDbActor.cs
Labels: client, enhancement, server

#70 feat: add handshakes between local and remote actors
  src/app/TicketStore.Client.App/Program.cs
  src/app/TicketStore.Client.Logic/ClientActor.cs
  src/app/TicketStore.Client.Logic/Messages/TestConnectionMessage.cs
  src/app/TicketStore.Server.Logic/Actors/EventActor.cs
  src/app/TicketStore.Server.Logic/Actors/UserActor.cs
  src/app/TicketStore.Server.Logic/Messages/Responses/AddUserToDbResponse.cs
  src/app/TicketStore.Shared/Messages/HandshakeRequest.cs
  src/app/TicketStore.Shared/Messages/HandshakeResponse.cs
  src/documentation/appendices/actors_and_messages.tex
  src/documentation/text/04_Implementation/messages.tex
Labels: client, documentation, enhancement, server

#71 feat(documentation): mention DotNetty TCP
  src/documentation/text/04_Implementation/architecture.tex
  src/documentation/text/04_Implementation/messages.tex
Labels: documentation, enhancement
